<main class="container">
   <!-- Hero Bölümü -->
   <section class="hero row align-items-center">
    <div class="hero-content col-md-8">
      <h1 class="page-title">Professionelle Visitenkarten für Mitarbeiter</h1>
      <p class="page-description">Erstellen Sie anpassbare und verwaltbare Visitenkarten für Ihre Firmenmitarbeiter.</p>
      <button routerLink="cards" class="btn btn-lg" style="background-color: #85485b; color: #f0e9e9;">Jetzt starten</button>
    </div>
    <div class="hero-image col-md-4 text-center">
      <img src="assets/hero-image.png" alt="Visitenkartenanwendung" class="img-fluid">
    </div>
  </section>
   <!-- Özellikler Bölümü -->
    
   <section class="features text-center">
    <h2>Unsere Eigenschaften / Merkmale</h2>
    <div class="row feature-cards">
      <div class="col-md-4 col-12"> 
        <div class="feature-card h-100 shadow-sm">
          <div class="card-body">
            <i class="fas fa-paint-brush fa-2x mb-3" style="color: #85485b;"></i>
            <h3 class="card-title">Anpassbare Designs</h3>
            <p class="card-text">Erstellen Sie Designs, die perfekt zu Ihrem Firmenlogo und Ihrer Farbpalette passen.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="feature-card h-100 shadow-sm">
          <div class="card-body">
            <i class="fas fa-users-cog fa-2x mb-3" style="color: #85485b;"></i>
            <h3 class="card-title">Mitarbeiterverwaltung</h3>
            <p class="card-text">Fügen Sie mühelos Mitarbeiter-Visitenkarten hinzu, bearbeiten und verwalten Sie diese.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="feature-card h-100 shadow-sm">
          <div class="card-body">
            <i class="fas fa-print fa-2x mb-3" style="color: #85485b;"></i>
            <h3 class="card-title">Druck- und digitale Visitenkarten</h3>
            <p class="card-text">Erstellen Sie Visitenkarten sowohl in gedruckter als auch in digitaler Form.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  


  </main>