.example-spacer {
    flex: 1 1 auto;
}
 
.custom-toolbar {
    background-color: #895968;
    color: #f0e9e9;
}

.header-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      a {
        color: #170202;
        padding: 0 10px;
        text-decoration: none;
        font-size: 19px;
        opacity: 0.7;
        &:hover,
        &.active {
          opacity: 2;
        }
      }
    }
  }