<header class="header">
    <mat-toolbar class="custom-toolbar">
        <span>VisitenKartApp</span>
        <span class="example-spacer"></span>
        <ul class="header-menu">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]=" { exact:true }">Home</a></li>
            <li><a routerLink="about" routerLinkActive="active">ÜberUns</a></li>
            <li><a routerLink="cards" routerLinkActive="active">Kart</a></li>
        </ul>
    </mat-toolbar>
    
</header>